<div class="card text-center" style="width: 100%;" >
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Mixed Content Must be allowed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">This app is currently a demo meaning that it is not fully complete as a result the api dose not have a domain and is not registerd for https</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Go to this link to learn how to enable mixed content. https://experienceleague.adobe.com/docs/target/using/experiences/vec/troubleshoot-composer/mixed-content.html?lang=en</h5>
  </div>
</div>
