<div class = "card bg-dark text-white">
    <div class = "card-header">
        <b>{{title}}</b>
    </div>
    <div class = "card-body">
        <button type="submit" class = "btn btn-light"
        (click)="navigate('/howto')">
            How To Upload
        </button>
        <button type="submit" class = "btn btn-light"
        (click)="navigate('/upload')">
            Upload PDF
        </button>
    </div>
    <div class = "card-footer">
        <p>Successfully logged in</p>
    </div>
</div>